@import '../variables.scss';

.white {
  color: white;
}

.error {
  color: red;
}

.primary {
  color: $primaryColor;
}

.secondary {
  color: $secondaryColor;
}

.dark {
  color: $darkColor;
}
