.is_xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.is_sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.is_default {
  font-size: 1rem;
  line-height: 1.5rem;
}

.is_lg {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.is_xl {
  font-size: 2rem;
  line-height: 1.75rem;
}

.is_xxl {
  font-size: 3rem;
  line-height: 3rem;
}
