body {
  background: #333;
}

.app{
  width: 100%;
  max-width: 600px;
  margin: auto;
  background: #222;
  .header{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    
  }
}