@import "variables";
@import "reset";
body {
  padding: 0px;
  margin: 0px;
  background-color: #000;
  * {
    box-sizing: border-box;
    max-width: 100%;
  }
}

.app {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
  min-height: 100vh;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    .title{
      flex: 1;
      
    }
    .nav{margin-right: 50px;}
  }
  .container {
   
    margin: auto;
    background-color: $whiteColor;
  }
  .cards {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    @media screen and ( max-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(14, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
    .card {
      position: relative;
      display: inline-block;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #fff;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      height: 75vh;
      // &:after {
      //   content: "";
      //   display: block;
      //   padding-bottom: 100%;
      // }
      .content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 16px;
        .overlay {
          position: absolute;
          left: 0px;
          bottom: 0px;
          padding: 16px;
          background-color: rgba($color: #000000, $alpha: 0.8);
          width: 100%;
          transition: all 0.5s ease-in-out;
          min-height: 20%;
          .title {
            text-decoration: none;
            font-weight: bold;
            margin-bottom: 1rem;
          }
          .description {
            color: $primaryColor;
          }
        }
      }
      &:hover {
        box-shadow: 0px 0px 50px #999 inset;
        background-size: 120%;
        .content {
          .overlay {
            background-color: rgba($color: $secondaryColor, $alpha: 0.8);
            min-height: 40%;
            padding: 2rem;
            .title {
              color: #333;
              font-size: 4rem;
              
            }
            .description {
              color: #fff;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  .filter{
    padding: 16px;
    width: 100%;
    border: none;
    outline: none;
    font-weight: bold;
    background: #222;
    color: #fff;
  }
}
